
<div class="well">

  <p>Computer Engineer, PhD in Applied Cryptography and Assistant Professor at University of Namur</p> 
  <p>contact: florentin.rochet AT unamur~DOT~be </p>
  <img src="images/me.jpg" style="margin-top:0px; width:80%"/>
  <p> Current Research Interests: Anonymous Communication, Security of Distributed
    Networking and Systems, Transport Protocols, Engineering Flexibility in
    Privacy-Enhancing Technologies. </p>
 
  <div id="newsid">
    <h4>News</h4>

      {% for article in site.data.news limit:9 %}
        {{ article.date }}
        <p>{{ article.headline }}</p>
      {% endfor %}

      <h4><a href="{{ site.url }}{{ site.baseurl }}/allnews.html">... see all News</a></h4>
  </div>
</div>
